.info_container { 
    display: flex;
    flex-direction: column;
    font-family: var(--destinations-font-family);
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-left: 1vw;
    background-color: var(--main-bg-color1);
    color: var(--main-bg-color3);
  }

.chosen-destination-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.chosen-destination-container input {
    margin-right: 10px;
    width: 50px;
  }

.chosen-destination-container .delete-button {
    position: absolute;
    right: 10px
    /* width: 50px; */
  }

.destination {
    font-weight: bold;
}
