:root {
    /* --main-bg-color1: #FF7095;
    --main-bg-color2: #FF9770;
    --main-bg-color3: #FFC870;
    --main-bg-color4: #FFEE70; */
    --max-width: 1170px;
    --main-bg-color1: #213555;
    --main-bg-color2: #213555;
    --main-bg-color3: #fff;
    --main-bg-color4: #f2f0ed;
    --main-bg-color5: #fff;
    --main-font-family: Libre Franklin, sans-serif;
    --destinations-font-family: Libre Franklin, sans-serif;
    /* --destinations-font-family: Arial, sans-serif; */

}