.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  
  .search-bar input,
  .search-bar button{
    background-color: var(--main-bg-color5);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    /* margin: auto 5px; */
  }
  .search-bar input:not(:last-child) {
    margin-right: 10px;
  }
  