.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .search-input-container {
    display: flex;
    margin-bottom: 15px;
    border-radius: 5px;
    border: solid 3px rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
    > * {
        padding: 15px;
        line-height: 32px;
        border: none;
    }

    label {
      margin: 0;
      font-size: 100%;
      border-right: none;
      font-weight: 700;
      text-transform: uppercase;
  }
    
    select {
      background-color: #fafafa; 
      margin: 0;
      font-size: 100%;
      border-left: none;
      color: #777777;
  }
}